.signUp-form {
  background: #f9fafc;
  .form-wrapper {
    width: 400px;
    margin: 0 auto;
    padding-bottom: 2rem;
    .form-box {
      background-color: #ffffff;
      border-radius: 3px;
      padding: 25px 40px;
      box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
      h2 {
        text-align: center;
        color: #5e6c84;
        font-size: 16px;
        letter-spacing: -0.01em;
        line-height: 28px;
        margin-top: 10px;
        margin-bottom: 25px;
      }
      .signUp-form-input {
        font-size: 14px;
        background-color: #fafbfc;
        border: 2px solid #dfe1e6;
        border-radius: 3px;
        width: 100%;
        padding: 0.5rem;
      }
      p {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 13px;
        line-height: 16px;
        color: #5e6c84;
      }
      .or {
        margin: 12px 0;
        text-align: center;
        font-weight: 300;
        font-size: 14px;
      }
      hr {
        height: 1px;
        border: 0;
        border-top: 1px solid hsl(0, 0%, 80%);
        margin: 1rem 0;
      }
      .login-link {
        text-align: center;
        font-size: 14px;
        text-decoration: none;
        .signUp-link {
          color: #0052cc;
        }
      }
    }
  }
}
.signUp-logo {
  width: 130px;
  margin: 0 auto;
  height: 43px;
  padding-top: 40px;
  margin-bottom: 40px;
  img {
    width: 100%;
  }
}
.form-btn {
  width: 99%;
  margin: 0 auto;
  border-color: transparent;
  text-align: center;
  border-radius: 3px;
  height: 39px;
  padding-top: 0;
  margin-bottom: 12px;
}
.auth-btn {
  background: #fff;
  color: rgba(0, 0, 0, 0.54);
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0;
}
.login-btn {
  background: #5aac44;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0;
}
.login-form-input {
  margin-bottom: 12px;
  font-weight: 300;
  opacity: 0.7;
}
