.hero {
  padding-top: 4.2rem;
  background: linear-gradient(to right, #277ac0, #2879bf, #326cc3);
  img {
    width: 100%;
    height: auto;
  }
  .hero-heading {
    padding-top: 1rem;
    line-height: 1.1;
    color: #fff;
    padding-right: 2rem;
  }
  h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-family: "Charlie Display", sans-serif;
    font-weight: 500;
  }
  h6 {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.5;
    word-spacing: 3.5px;
  }
}

.input {
  flex-grow: 5;
  min-width: 0;
  width: 360px;
  border-radius: 0.3rem;
  line-height: 43px;
  padding: 4px;
  padding-left: 16px;
  border-color: white;
  border-style: solid;
  font-size: 18px;
}

.btn-hero {
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #fff;
  background-color: #61bd4f;
  border-color: #61bd4f;
  border-radius: 0.3rem;
  margin-left: 8px;
}
.hero-form {
  padding: 1.2rem 0;
  display: flex;
  align-items: center;
}

// auth Home page

.authHomePage-container {
  background-color: #fafbfc;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  .authHomepage-left-right {
    position: sticky;
    top: 0;
  }
  .authHomePage-left {
    margin: 40px 0 0;
    padding: 0 1rem;
    width: 240px;
    .authHomePage-nav {
      margin-bottom: 0.8rem;
      li {
        margin-bottom: 0.2rem;
      }
    }
  }
  .authHomePage-link {
    display: flex;
    align-items: center;
    color: #172b4d;
    font-weight: 700;
    margin: 0;
    min-height: 20px;
    overflow: hidden;
    padding: 6px 8px 6px 0;
    text-decoration: none;
    font-size: 0.8rem;
  }
  .authHomePage-left-team {
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
  }
  .authHomePage-left-team-heading {
    padding-left: 0.8rem;
    h2 {
      font-size: 0.8rem;
      text-transform: uppercase;
      font-weight: 500;
      padding: 0.5rem 0;
      color: #5e6c84;
    }
  }
  .authHomepage-p {
    color: rgba(9, 30, 66, 0.66);
  }
  .authHeader-center-container {
    margin-top: 40px;
    padding-left: 45px;
    width: 400px;
  }
  .authHeader-center-container-box {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
    display: flex;
    margin-bottom: 16px;
    position: relative;
    width: 100%;
    flex-direction: column;
  }
  .authHeader-center-container-img {
    background-color: #fdf4e7;
    background-image: url(https://a.trellocdn.com/prgb/dist/images/home/orientation/no-content.e25c676458c1f4cb280b.svg);
    height: 108px;
  }
  .center-img {
    border-radius: 4px 4px 0 0;
    min-height: 100px;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    flex: 0 0 auto;
  }
  .authHeader-center-container-text {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 16px;
    width: 100%;
    h3 {
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
    }
    p {
      text-align: center;
      font-size: 14px;
      line-height: 20px;
      margin: 10px 0;
    }
  }
  .authHomepage-right {
    margin-top: 40px;
    max-width: 342px;
    width: 100%;
    padding-left: 50px;
    .authHomePage-recently {
      padding-bottom: 24px;
      .authHomepage-p {
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }
  .authHomePage-addBoard {
    align-items: center;
    display: flex;
    height: 48px;
  }

  .authHomePage-hover:hover {
    background: rgba(233, 233, 233, 0.712);
    border-radius: 4px;
    width: 100%;
  }
}
