.hero {
  padding-top: 4.2rem;
  background: linear-gradient(to right, #277ac0, #2879bf, #326cc3);
  img {
    width: 100%;
    height: auto;
  }
  .hero-heading {
    padding-top: 1rem;
    line-height: 1.1;
    color: #fff;
    padding-right: 2rem;
  }
  h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-family: "Charlie Display", sans-serif;
    font-weight: 500;
  }
  h6 {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.5;
    word-spacing: 3.5px;
  }
}

.input {
  flex-grow: 5;
  min-width: 0;
  width: 360px;
  border-radius: 0.3rem;
  line-height: 43px;
  padding: 4px;
  padding-left: 16px;
  border-color: white;
  border-style: solid;
  font-size: 18px;
}

.btn-hero {
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #fff;
  background-color: #61bd4f;
  border-color: #61bd4f;
  border-radius: 0.3rem;
  margin-left: 8px;
}
.hero-form {
  padding: 1.2rem 0;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .hero .hero-heading {
    padding: 0;
  }
  .hero h2 {
    font-size: 2rem;
    line-height: 1.2;
    text-align: center;
  }
  .hero h6 {
    font-size: 1.6rem;
    text-align: center;
  }
  .hero-form {
    display: flex;
    margin-left: 14px;
    justify-content: center;
  }
  .input {
    display: none;
  }
}
