@media screen and (max-width: 760px) {
  // non auth home page
  .hero .hero-heading {
    padding: 0;
  }
  .hero h2 {
    font-size: 2rem;
    line-height: 1.2;
    text-align: center;
  }
  .hero h6 {
    font-size: 1.6rem;
    text-align: center;
  }
  .hero-form {
    display: flex;
    margin-left: 14px;
    justify-content: center;
  }
  .input {
    display: none;
  }

  // auth header

  .autHeader {
    .authHeader-icon-boards {
      width: 2rem;
      display: grid;
      place-items: center;
      span {
        display: none;
      }
    }
    .search-icon {
      display: none;
    }
    .only-search-icon {
      display: grid;
      place-items: center;
    }
  }

  // authHomePage

  .authHomepage-left-right {
    display: none;
  }
  .authHomePage-container {
    .authHeader-center-container {
      padding-left: 0;
    }
  }
}
